{% load static %}
{% load i18n %}
{% load sass_tags %}
{% load tags %}
<div class="modal fade modal-bookmark" id="addstd" tabindex="-1" role="dialog"
            aria-labelledby="addstd" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{% trans 'Add Grupo documentos' %}</h5>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                </div>
                <div class="modal-body">
                  <form class="form-bookmark needs-validation" id="bookmark-form" novalidate="">
                    <div class="form-row">
                      <div class="row d-block d-sm-flex">
                        <div class="col-sm-12 m-b-20">
                          <label for="Title">{% trans 'Nome' %}</label>
                          <input class="form-control"  id="document_type_std" type="text" required="" maxlength="50" autocomplete="off">
                        </div>
                        <div class="col-sm-12 m-b-20">
                            <label for="Title">{% trans 'Processo' %}</label>
                            <select class="js-example-basic-single" id="processo">
                                <option value="R" selected>Recrutamento</option>
                                <option value="D">Documentos</option>
                                <option value="M">Mensagens</option>
                                <option value="A">Agendamentos</option>
                            </select>
                        </div>
                    </div>
                    <input id="index_var" type="hidden" value="6">
                    <button class="btn btn-secondary" id="salvar_std" data-set=""
                      type="button">{% trans 'Salvar' %}</button>
                    <button class="btn btn-primary" type="button" data-bs-dismiss="modal">{% trans 'Cancelar' %}</button>
                  </form>
                </div>
              </div>
            </div>
          </div>