{% load static %}
{% load sass_tags %}
{% load tags %}
<div class="col-xl-3 xl-40">
  <div class="job-sidebar md-sidebar"><a class="btn btn-primary md-sidebar-toggle" href="javascript:void(0)">Filtros</a>
    <div class="md-sidebar-aside job-left-aside custom-scrollbar">
      <div class="default-according style-1 job-accordion" id="accordionoc">
        <div class="row">
          <div class="col-xl-12">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0 p-0">
                  <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon"
                    aria-expanded="true" aria-controls="collapseicon">Filtros</button>
                </h5>
              </div>
              <div class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordion">
                <div class="card-body filter-cards-view animate-chk">
                  <div class="job-filter">
                    <div class="faq-form">
                      <input class="typeahead form-control" id="search_doctype" type="text" placeholder="Pesquisar..."><i class="search-icon"
                        data-feather="search"></i>
                        <div class="input-group-append">
                          <span class="loading-indicator-itens input-group-text text-primary" style="display: none;"><i class="fa fa-spin fa-spinner"></i></span>
                        </div>
                    </div>
                  </div>
                  <div class="checkbox-animated mt-0">
                    <div class="learning-header">
                      <h5 class="f-w-600">Status</h5>
                    </div>
                    <div class="col-md-11">
                      <select class="js-example-basic-single" id="processo_filter">
                        <option value="">Selecione</option>
                        <option value="R">Recrutamento</option>
                        <option value="D">Documentos</option>
                        <option value="M">Mensagens</option>
                        <option value="A">Agendamentos</option>
                      </select>
                    </div>
                  </div>
                  <div class="checkbox-animated mt-0">
                    <div class="learning-header">
                      <h5 class="f-w-600">Obrigatório</h5>
                    </div>
                    <div class="col-md-11">
                      <select class="js-example-basic-single" id="obrigatorio_filter">
                        <option value="">Selecione</option>
                        <option value="S">Sim</option>
                        <option value="N">Não</option>
                      </select>
                    </div>
                  </div>
                  <button class="btn btn-primary text-center" id="filtrar-tipos_documento" type="button">Filtrar</button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0 p-0">
                  <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon1"
                    aria-expanded="true" aria-controls="collapseicon1">Opções</button>
                </h5>
              </div>
              <div class="collapse show" id="collapseicon1" aria-labelledby="collapseicon1" data-bs-parent="#accordion">
                <div class="categories">

                  <ul>
                    <!-- <li><a href="#" data-bs-toggle="modal" data-bs-target="#modal-importar-arquivo"> Importar Histórico de {% get_string_personalizada 'vendas' %}</a></li> -->
                    <li><a href="#" data-bs-toggle="modal" data-bs-target="#exportVaga">Exportar</a></li>
                    <!-- <li><a href="#">UX Design </a><span class="badge badge-primary pull-right">35</span></li>
                    <li><a href="#">Interface Design </a><span class="badge badge-primary pull-right">17</span></li>
                    <li><a href="#">User Experience </a><span class="badge badge-primary pull-right">26</span></li> -->
                  </ul>
                </div>
                <!-- <div class="categories pt-0">
                  <div class="learning-header"><span class="f-w-600">Development</span></div>
                  <ul>
                    <li><a href="#">Frontend Development</a><span class="badge badge-primary pull-right">48</span></li>
                    <li><a href="#">Backend Development</a><span class="badge badge-primary pull-right">19</span></li>
                  </ul>
                </div> -->
              </div>
            </div>
          </div>

          

        </div>
      </div>
    </div>
  </div>
  
</div>