{% load static %}
{% load sass_tags %}
<div class="container-fluid calendar-basic">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div id="menu">
                <div id="menu-navi">
                  <div class="menu-navi-left">
                    <button class="btn btn-primary move-today" type="button" data-action="move-today">Recarregar</button>
                    <a href="#" class="ms-2 btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#crate-group">Criar Grupo</a>
                  </div>
                  <div class="render-range menu-navi-center" id="renderRange"></div>
                  <div class="menu-navi-right">
                    <button class="btn btn-primary" id="dropdownMenu-calendarType" type="button"
                      data-bs-toggle="dropdown"><i id="calendarTypeIcon"></i><span
                        id="calendarTypeName">Dropdown</span><i class="fa fa-angle-down"></i></button>
                    <ul class="dropdown-menu" role="menu">
                      <li role="presentation"><a class="dropdown-menu-title" role="menuitem"
                          data-action="toggle-daily"><i class="fa fa-bars"></i>Hoje</a></li>
                      <li role="presentation"><a class="dropdown-menu-title" role="menuitem"
                          data-action="toggle-weekly"><i class="fa fa-th-large"></i>Essa semana</a></li>
                      <li role="presentation"><a class="dropdown-menu-title" role="menuitem"
                          data-action="toggle-monthly"><i class="fa fa-th"></i>Esse mês</a></li>
                      <li role="presentation"><a class="dropdown-menu-title" role="menuitem"
                          data-action="toggle-weeks2"><i class="fa fa-th-large"></i>2 semanas</a></li>
                      <li role="presentation"><a class="dropdown-menu-title" role="menuitem"
                          data-action="toggle-weeks3"><i class="fa fa-th-large"></i>3 semanas</a></li>
                      <li class="dropdown-divider" role="presentation"></li>
                      <li role="presentation"><a role="menuitem" data-action="toggle-workweek">
                          <input class="tui-full-calendar-checkbox-square" type="checkbox" value="toggle-workweek"
                            checked=""><span class="checkbox-title"></span>Ver Semanas</a></li>
                      <li role="presentation"><a role="menuitem" data-action="toggle-start-day-1">
                          <input class="tui-full-calendar-checkbox-square" type="checkbox"
                            value="toggle-start-day-1"><span class="checkbox-title"></span>Começar semana pela segunda feira</a></li>
                      <li role="presentation"><a role="menuitem" data-action="toggle-narrow-weekend">
                          <input class="tui-full-calendar-checkbox-square" type="checkbox"
                            value="toggle-narrow-weekend"><span class="checkbox-title"></span>Narrower than weekdays</a>
                      </li>
                    </ul>
                    <div class="move-btn">
                      <button class="btn btn-primary move-day" type="button" data-action="move-prev"><i
                          class="fa fa-angle-left" data-action="move-prev"></i></button>
                      <button class="btn btn-primary move-day" type="button" data-action="move-next"><i
                          class="fa fa-angle-right" data-action="move-next"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div id="lnb">
                <div class="lnb-new-schedule">
                  <button class="btn lnb-new-schedule-btn btn-primary" id="btn-new-schedule" type="button"
                    data-bs-toggle="modal">Nova atividade</button>
                </div>
                <div class="lnb-calendars" id="lnb-calendars">
                  <div class="lnb-calendars-d1" id="calendarList"></div>
                  <div class="lnb-calendars-item m-0 p-0">
                    <label>
                      <input class="tui-full-calendar-checkbox-square" type="checkbox" value="all"
                        checked=""><span></span><strong>Ver todos</strong>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div id="right">
                <div id="calendar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-bookmark" id="crate-group" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Criar grupo Agendamento</h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"> </button>
          </div>
          <div class="modal-body">
            <div class="form-bookmark needs-validation" id="bookmark-form" novalidate="">
              <div class="form-row">
                <div class="row">
                  <div class="col-6 m-b-20">
                      <label for="Nome">Nome</label>
                      <input type="text" class="form-control" id="nome">
                  </div>
                  <div class="col-6 m-b-20">
                    <label for="color">Cor Do texto</label>
                    <input type="color" class="form-control" id="color_text">
                </div>
                </div>
                <div class="row">
                  <div class="col-12 m-b-20">
                      <label for="bg_color">Cor</label>
                      <input type="color" class="form-control" id="bg_color">
                  </div>
                  
                </div>
              </div>
              <button class="btn btn-secondary" id="newGroup">Salvar</button>
              <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>