{% load static %}
{% load tags %}
<div class="col-xl-6 col-md-12 dash-xl-33 dash-lg-50 box-col-6">
    <div class="card ongoing-project recent-orders">
      <div class="card-header card-no-border">
        <div class="media media-dashboard">
          <div class="media-body">
            <h5 class="mb-0">{% get_string_personalizada 'Compras' %} mais realizadas</h5>
          </div>
          <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
            <div class="icon-box-show onhover-show-div">
              <!-- <ul>
                <li> <a>
                    Done</a></li>
                <li> <a>
                    Pending</a></li>
                <li> <a>
                    Rejected</a></li>
                <li> <a>In Progress</a></li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="table-responsive" style="height: 300px; overflow-y: scroll;">
          <table class="table table-bordernone">
            <thead>
              <tr>
                <th> <span>Nome</span></th>
                <th> <span>Valor</span></th>
                <th> <span>Quantidade</span></th>
                <th> <span>Total</span></th>
              </tr>
            </thead>
            <tbody>
              {% for produto in Produtos %}
                <tr>
                  <td>
                    <div class="media">
                      <div class="square-box me-2"><img class="img-fluid b-r-5"
                          src="{{produto.produto.PathProduto}}" alt="" style="width: 100%; height: 100%; object-fit: contain;" onerror="this.onerror=null;this.src='{% static 'assets\images\banner\Produto-sem-foto.png' %}';"></div>
                      <div class="media-body ps-2">
                        <div class="avatar-details"><a href="#">
                            <h6>{{produto.produto.Descricao_Amigavel}}</h6>
                          </a><span></span></div>
                      </div>
                    </div>
                  </td>
                  <td class="img-content-box">
                    <h6>{{produto.valor_total_item}}</h6>
                  </td>
                  <td>
                    {% if produto.QuantidadeCompradaUN != 0 %}
                      <h6>{{produto.QuantidadeCompradaUN|floatformat:0}}</h6><span>UN</span>
                    {% else %}
                      <h6>{{produto.QuantidadeCompradaCX|floatformat:0}}</h6><span>CX</span>
                    {% endif %}
                  </td>
                  <td>
                    <h6>{{produto.ValorTotalCompra|floatformat:2}}</h6>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <input type="hidden" id="id_entidade" value="{{entidade.pk}}">

  <div class="col-xl-6 col-md-6">
    <div class="card our-activities">
      <div class="card-header card-no-border">
        <div class="media media-dashboard">
          <div class="media-body">
            <h5 class="mb-0">Boomerangues Enviados</h5>
          </div>
          <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
            <div class="icon-box-show onhover-show-div">
              <!-- <ul>
                <li> <a>
                    Latest </a></li>
                <li> <a>
                    Earlist</a></li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="table-responsive" style="height: 300px; overflow-y: scroll;">
          <table class="table table-bordernone">
            <tbody>
              {% for boomerangue in boomerangues %}
                <tr>
                  <td>
                    <div class="media">
                      <div class="icon-wrappar"><img class="img-fluid b-r-5"
                        src="{{boomerangue.campanha.ImageBannerMobile}}" alt="" style="width: 100%; height: 100%; object-fit: contain;" onerror="this.onerror=null;this.src='{% static 'assets\images\banner\Produto-sem-foto.png' %}';"></div>
                      <div class="media-body"><a href="/boomerangue_consulta/{{boomerangue.pk}}">
                          <h5>{{boomerangue.campanha.Campanha}}</h5>
                        </a>
                        {% if boomerangue.bm_aceito == 'S' %}
                          <span class="badge badge-success">{% get_string_personalizada 'Compra' %} Efetuada</span>
                        {% endif %}
                      </div>
                    </div>
                  </td>
                  <td><span class="badge badge-light-theme-light font-theme-light">{{boomerangue.campanha.data_inicio|date:'d/m/Y'}} - {{boomerangue.campanha.data_fim|date:'d/m/Y'}}</span></td>
                </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-md-6 ">
    <div class="card revenue-category">
      <div class="card-header card-no-border">
        <div class="media">
          <div class="media-body">
            <h5 class="mb-0">Relação Envio x {% get_string_personalizada 'Compra' %}</h5>
          </div>
          <!-- <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
            <div class="icon-box-show onhover-show-div">
              <ul>
                <li> <a>
                    Done</a></li>
                <li> <a>
                    Pending</a></li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>
      <div class="card-body">
        <div class="donut-inner">
          <h5>{{total_boomerangues}}</h5>
          <h6>Boomerangues Enviados</h6>
        </div>
        <div id="revenue-chart"> </div>
      </div>
    </div>
  </div>



  <div class="col-xl-4 col-md-6">
    <div class="card our-activities">
      <div class="card-header card-no-border">
        <div class="media media-dashboard">
          <div class="media-body">
            <h5 class="mb-0">Infos Adicionais</h5>
          </div>
          <!-- <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
            <div class="icon-box-show onhover-show-div">
              <ul>
                <li> <a>
                    Latest </a></li>
                <li> <a>
                    Earlist</a></li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="table-responsive">
          <table class="table table-bordernone">
            <tbody>
              <tr>
                <td>
                  <div class="media">
                    <div class="icon-wrappar"><i class="fa fa-trophy font-primary"> </i></div>
                    <div class="media-body"><a href="#">
                        <h5>Maior {% get_string_personalizada 'Compra' %}</h5>
                      </a>
                      {% if maior_compra %}
                        <p><a href="/boomerangue_consulta/{{maior_compra.boomerangue.pk}}"> {{maior_compra.boomerangue.campanha.Campanha}} </a></p>
                      {% else %}
                        <p>Não há dados</p>
                      {% endif %}
                    </div>
                  </div>
                </td>
                <td><span class="badge badge-light-theme-light font-theme-light">{% if maior_compra %} R$ {{maior_compra.valor|floatformat:2}} {% else %} Não há dados {% endif %}</span></td>
              </tr>
              <tr>
                <td>
                  <div class="media">
                    <div class="icon-wrappar"><i class="fa fa-check-circle font-secondary"> </i></div>
                    <div class="media-body"><a href="#">
                        <h5>{% get_string_personalizada 'Compra' %} mais recente</h5>
                      </a>
                      {% if mais_recente %}
                        <p><a href="/boomerangue_consulta/{{mais_recente.boomerangue.pk}}">{{mais_recente.boomerangue.campanha.Campanha}}</a></p>
                      {% else %}
                        <p>Não há dados</p>
                      {% endif %}
                    </div>
                  </div>
                </td>
                <td><span class="badge badge-light-theme-light font-theme-light">{% if mais_recente %} {{mais_recente.data_tx|date:'d/m/Y'}} {% else %} Não há dados {% endif %}</span></td>
              </tr>
              <tr>
                <td>
                  <div class="media">
                    <div class="icon-wrappar"><i class="fa fa-bookmark font-success"> </i></div>
                    <div class="media-body"><a href="#">
                        <h5>Última vez que acessou um boomerangue </h5>
                      </a>
                      {% if ultimo_acesso %}
                        <p><a href="/boomerangue_consulta/{{ultimo_acesso.pk}}">{{ultimo_acesso.campanha.Campanha}}</a></p>
                      {% else %}
                        <p>Não há dados</p>
                      {% endif %}
                    </div>
                  </div>
                </td>
                <td><span class="badge badge-light-theme-light font-theme-light">{% if ultimo_acesso %} {{ultimo_acesso.data_ult_open_web|date:'d/m/Y'}} {% else %} Não há dados {% endif %}</span></td>
              </tr>
              <tr>
                <td>
                  <div class="media">
                    <div class="icon-wrappar"><i class="fa fa-shopping-basket font-warning"> </i></div>
                    <div class="media-body"><a href="#">
                        <h5>Carrinhos Abandonados</h5>
                      </a>
                      <p>{{abandonados}}</p>
                    </div>
                  </div>
                </td>
                <td><span class="badge badge-light-theme-light font-theme-light"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-md-6">
    <div class="card news-update">
      <div class="card-header card-no-border">
        <div class="header-top">
          <h5 class="m-0">Últimos Logs</h5>
          <!-- <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
            <div class="icon-box-show onhover-show-div">
              <ul>
                <li> <a>
                    Today</a></li>
                <li> <a>
                    Yesterday</a></li>
                <li> <a>
                    Tommorow</a></li>
              </ul>
            </div>
          </div> -->
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="table-responsive custom-scrollbar">
          <table class="table table-bordernone">
            <tbody>
              {% for log in logs %}
                <tr>
                  <td>
                    <div class="media"><img class="img-fluid me-3 b-r-5"
                      src="{% static 'assets/images/dashboard/rectangle-26.jpg' %}" alt="">
                      <div class="media-body"><a href="#">
                          <h5>{{log.acao_id}}</h5>
                        </a>
                        <div class="d-flex">
                          {% if log.Complemento1 and log.acao_id == 'Tempo de visualização' %}
                            <p class="me-2">{{log.Complemento1}} seg</p>
                          {% endif %}
                          <p>{{log.boomerangue.campanha.Campanha}}</p>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td><span class="badge badge-light-theme-light font-theme-light">{{log.DataLog|date:'d/m/Y'}}</span></td>
                </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xl-4 col-md-6 ">
    <div class="card total-sale" style="height: 200px;">
      <div class="card-header card-no-border">
        <div class="media">
          <div class="media-body">
            <h5 class="mb-0">Total em {% get_string_personalizada 'Compras' %}</h5>
          </div>
          <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
            <div class="icon-box-show onhover-show-div">
              <!-- <ul>
                <li><a>Done</a></li>
                <li> <a>
                    Pending</a></li>
                <li> <a>
                    Rejected</a></li>
                <li> <a>In Progress</a></li>
              </ul> -->
            </div>
          </div>
        </div>
        <div class="animat-block">
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="sale-main">
          <div class="sale-left">
            <h6 class="font-danger"></h6>
            <h5 class="font-primary">R$ {{total|floatformat:2}}</h5>
          </div>
          <div class="sale-right">
            <div id="total-sales-chart"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-3 col-md-6 box-col-12">
    <div class="card" style="height: 200px;">
      <div class="widget-feedback card-body">
        <div class="feedback-top text-center">
          <img src="{% static 'assets/images/vendedor.png' %}"  style="width: 70px; height: 70px;" alt="">
          <h3>{% get_string_personalizada 'Vendedores' %}</h3>
          <h6 class="font-roboto f-w-400">{{entidade.vendedorValidacao.Vendedor}}</h6>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xl-12">
    <div class="card ongoing-project recent-orders">
      <div class="card-header card-no-border">
        <div class="media media-dashboard">
          <div class="media-body">
            <h5 class="mb-0">Historico de {% get_string_personalizada 'Compras' %}</h5>
          </div>
          <div class="me-2">
            <select class="form-control" id="filtro_status_doc" >
              <option value="">Todas</option>
              <option value="O">Validadas</option>
              <option value="N">Não validadas</option>
            </select>
          </div>
          <div class="me-2">
            <a href="javascript:void(0)" class="btn btn-primary" id="export_historico">Exportar</a>
          </div>
        </div>
      </div>
      <div class="card-body pt-0">
        <div class="table-responsive">
          <table class="table table-bordernone" id="item-table">
            <thead>
              <tr>
                <th><span>Campanha</span></th>
                <th><span>Valor</span></th>
                <th><span>Data</span></th>
                <th><span>Detalhes</span></th>
              </tr>
            </thead>
            <tbody id="body_pagamentos_entidade">
              
            </tbody>
          </table>
          <div class="loader-box" id="loader-pagamentos-entidade" style="display: none;">
            <div class="loader-2"></div>
          </div>
        </div>
        <div class="card-body">
          <nav aria-label="...">
              <ul class="pagination pagination-primary" id="pagination-pagamentos-entidade">
                  <li class="page-item disabled" id="previous-page-pagamentos-entidade">
                      <a class="page-link" href="javascript:void(0)" tabindex="-1">Anterior</a>
                  </li>
                  <li class="page-item" id="next-page-pagamentos-entidade">
                      <a class="page-link" href="javascript:void(0)">Próximo</a>
                  </li>
              </ul>
          </nav>
      </div>
      </div>
    </div>

    <div class="modal fade modal-bookmark" id="modal-pix-detalhes" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Detalhes do pagamento</h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"> </button>
          </div>
          <div class="modal-body">
            <div class="form-bookmark needs-validation" id="bookmark-form" novalidate="">
              <div class="form-row">
                <div class="row">
                    <div class="col m-b-20">
                      <label for="">Tipo pagamento</label>
                      <select class="form-control" id="tipo_pagamento">
                        <option value="PIX">Pix</option>
                        <option value="CARTAO">Cartão</option>
                        <option value="BOLETO">Boleto</option>
                        <option value="DINHEIRO">Dinheiro</option>
                      </select>
                    </div>
                    <div class="col m-b-20">
                      <label for="">Valor</label>
                      <input type="text" id="valor" maxlength="10" class="form-control">
                    </div>
                    <div class="col m-b-20">
                      <label for="">Identificador</label>
                      <input type="text" id="txid" maxlength="50" class="form-control">
                    </div>
                  </div>

                  <div class="row">
                    <div class="col m-b-20">
                      <label for="">Data de pagamento</label>
                      <input type="text" id="data_tx" class="form-control">
                    </div>
                    <div class="col m-b-20">
                      <label for="">recorrencia</label>
                      <select class="form-control" id="recorrencia">
                        <option value="UNICO">UNICO</option>
                        <!-- <option value="APROVADO">APROVADO</option> -->
                      </select>
                    </div>
                    <div class="col m-b-20">
                      <label for="">Status</label>
                      <select class="form-control" id="status">
                        <option value="PENDENTE">PENDENTE</option>
                        <option value="APROVADO">APROVADO</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col m-b-20 d-none" id="comprovante">
                      <form class="dropzone" id="importComprovante" action="/api/bmm_template/">
                        <div class="dz-message needsclick"><i class="icon-cloud-up"></i>
                            <h6>Arraste os arquivos aqui ou clique para fazer upload.</h6>
                        </div>
                      </form>
                  </div>
                  <div class="col m-b-20 d-none" id="ver_comprovante">
                    <a href="javascript:void(0)" class="btn btn-success text-white" target="_blank" id="btn_ver_comprovante">Ver comprovante</a>
                    <a href="javascript:void(0)" class="btn btn-danger text-white ms-2" id="excluir_comprovante">Excluir Comprovante</a>
                  </div>
                </div>

                <div class="row">
                  <div class="col m-b-20 d-none" id="pix">
                    <label for="">Pix Copia e cola gerado</label>
                      <textarea id="pix_copia_cola" rows="5" class="form-control"></textarea>
                      <button type="button" class="btn btn-info mt-2" id="verifica_pagamento">Verificar pagamento</button>
                  </div>
                </div>
              </div>
              <button class="btn btn-secondary" id="salvar_comprovante">Salvar</button>
              <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
  </div>

  <script>
    let termo = '{% get_string_personalizada "Compras" %}'
    let vendas = '{{total_bmm_compras}}'
    let sem_compra = '{{sem_compra}}'
    let sem_venda_termo = 'Não Efetuou {% get_string_personalizada "Compras" %}'
    let entidade_nome = '{{breadcrumb.child}}'
  </script>