{% load static %}
{% load sass_tags %}
{% load tags %}
<div class="col-xl-6 col-md-6">
  <div class="card sales-state">
    <div class="row m-0">
      <div class="col-12 p-0">
        <div class="card bg-primary">
          <div class="card-header card-no-border bg-primary">
            <div class="media media-dashboard">
              <div class="media-body">
                <h5 class="mb-0 text-light">{% get_string_personalizada 'vendas' %}
                </h5>
              </div>
              <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
                <div class="icon-box-show onhover-show-div active">
                  <ul>
                    <li> <a>Número de {% get_string_personalizada 'vendas' %}</a></li>
                    <li> <a>Produtos</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body p-0">
            <div id="sales-state-chart"></div>
          </div>
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="sales-small-chart">
          <div class="card-body p-0 m-auto">
            <div class="sales-small sales-small-1"></div>
            <h6>{{resultados.nBoomerangues}}</h6><span>Boomerangues</span>
          </div>
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="sales-small-chart">
          <div class="card-body p-0 m-auto">
            <div class="sales-small sales-small-2"></div>
            <h6>{{resultados.Comprou}}</h6><span>{% get_string_personalizada 'Compras' %}</span>
          </div>
        </div>
      </div>
      <div class="col-4 p-0">
        <div class="sales-small-chart">
          <div class="card-body p-0 m-auto">
            <div class="sales-small sales-small-3"></div>
            <h6>{{resultados.comprando}}</h6><span>{% get_string_personalizada 'Comprando' %} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-6 col-md-6">
  <div class="card hot-selling">
    <div class="card-header card-no-border">
      <div class="header-top">
        <h5 class="m-0">{% get_string_personalizada 'Produtos Mais Vendidos' %}</h5>
        <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
          <div class="icon-box-show onhover-show-div">
            <!-- <ul>
              <li> <a>
                  Today</a></li>
              <li> <a>
                  Yesterday</a></li>
              <li> <a>
                  Tommorow</a></li>
            </ul> -->
          </div>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="table-responsive" style="max-height: 260px; overflow-y: auto;">
        <table class="table table-bordernone">
          <tbody>
            {% for item in itens_mais_vendidos %}
            <tr>
              <td>
                <div class="media"><img class=""
                    src="{{item.produto__PathProduto}}" onerror="this.onerror=null;this.src='{% static 'assets\images\banner\Produto-sem-foto.png' %}';" style="width: 100px; height: 100px; object-fit: contain;" alt="">
                  <div class="media-body"><a href="#">
                      <h5>{{item.produto__Descricao_Amigavel}}</h5>
                    </a>
                    <p>{{item.nroPedidos}} vendas</p>
                  </div>
                </div>
              </td>
              <td><span class="badge badge-light-theme-light font-theme-light">Total: R$ {{item.totalcompra|floatformat:2}}</span></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Turnover chart widget Start-->
<div class="xl-50 col-xl-5 col-lg-12">
  <div class="small-chart-widget chart-widgets-small">
    <div class="card">
      <div class="card-header pb-0">
        <div class="media">
          <div class="media-body">
            <h5>Índice de {% get_string_personalizada 'vendas' %} por dia.</h5>
          </div>
          <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
            <div class="icon-box-show onhover-show-div">
              <!-- <ul>
                <li> <a>
                    Done</a></li>
                <li> <a>
                    Pending</a></li>
                <li> <a>
                    Rejected</a></li>
                <li> <a>In Progress</a></li>
              </ul> -->
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="chart-container">
          <div class="row">
            <div class="col-12">
              <div id="chart-widget7"></div>
            </div>
          </div>
        </div>
        <div class="code-box-copy">
          <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#example-head1" title="Copy"><i
              class="icofont icofont-copy-alt" id="copiar" data-id="{{campanha_id}}"></i></button>
          <pre><code class="language-html" id="example-head1">&lt;!-- Cod Box Copy begin --&gt;
&lt;div class="chart-container"&gt;
&lt;div class="row"&gt;
&lt;div class="col-12"&gt;
&lt;div id="chart-widget7"&gt;&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;!-- Cod Box Copy end --&gt;</code></pre>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-4 col-md-6 dash-31 dash-xl-50 box-col-6">
  <div class="card news-update">
    <div class="card-header card-no-border">
      <div class="header-top">
        <h5 class="m-0">Últimas {% get_string_personalizada 'vendas' %}</h5>
        <!-- <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
          <div class="icon-box-show onhover-show-div">
            <ul>
              <li> <a>
                  Today</a></li>
              <li> <a>
                  Yesterday</a></li>
              <li> <a>
                  Tommorow</a></li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="table-responsive custom-scrollbar" style="height: 310px; overflow-x: scroll;">
        <table class="table table-bordernone">
          <tbody id="ultimas_venda_tb">
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-3 col-md-6 dash-xl-50 dash-29 box-col-6">
  <div class="card our-activities">
    <div class="card-header card-no-border">
      <div class="media media-dashboard">
        <div class="media-body">
          <h5 class="mb-0">Top {% get_string_personalizada 'Vendedores' %} </h5>
        </div>
        <!-- <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
          <div class="icon-box-show onhover-show-div">
            <ul>
              <li> <a>
                  Latest </a></li>
              <li> <a>
                  Earlist</a></li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="table-responsive custom-scrollbar" style="height: 310px; overflow-x: scroll;">
        <table class="table table-bordernone">
          <tbody id="tb_vendedores">
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="col-xl-12">
  <div class="card ongoing-project recent-orders">
    <div class="card-header card-no-border">
      <div class="media media-dashboard">
        <div class="media-body">
          <h5 class="mb-0">Arquivos Importados</h5>
        </div>
        <div id="remote-arquivos" class="me-3">
          <div>
              <input class="typeahead form-control" type="text" placeholder="Pesquisar...">
              <div class="input-group-append">
                <span class="loading-indicator-arquivos input-group-text text-primary" style="display: none;"><i class="fa fa-spin fa-spinner"></i></span>
              </div>
            </div>
        </div>
        <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-importar-arquivo">
          Importar Arquivo
        </a>
        
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="table-responsive" style="max-height: 300px; overflow-y: auto;">
        <table class="table table-bordernone" id="item-table-arquivos">
          <thead>
            <tr>
              <th><span>Nome Arquivo</span></th>
              <th><span>Data Importação</span></th>
              <th><span>Status</span></th>
              <th><span>Observação</span></th>
              <th><span>Mais</span></th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
        <div class="loader-box" id="loader_arquivos" style="display: block;">
          <div class="loader-2"></div>
        </div>
      </div>
    </div>
    
  </div>
  <div class="modal fade modal-bookmark" id="modal-importar-arquivo" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Importar Arquivo</h5>
            <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"> </button>
          </div>
          <div class="modal-body">
            <div class="form-bookmark needs-validation" id="bookmark-form" novalidate="">
              <div class="form-row">
                <div class="row">
                  <div class="col m-b-20">
                      <form class="dropzone" id="csvImportarquivo" action="/api/bmm_template/">
                        <div class="dz-message needsclick"><i class="icon-cloud-up"></i>
                            <h6>Arraste os arquivos aqui ou clique para fazer upload.</h6>
                        </div>
                      </form>
                  </div>
                </div>
              </div>
              <button class="btn btn-secondary" id="new_template_csv">Importar</button>
              <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
