
<style>
  .card-image {
    max-width: 100%;
    height: 200px; /* Defina a altura desejada para os cards */
    overflow: hidden;
  }

  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>


<div class="col-sm-12">
  <div class="card">
    <div class="card-body">
      <div class="theme-form mega-form" id="form-edit-template" data-id="{{template.pk}}">
        <div class="row">
        <div class="col-6 mb-3">
          <label class="col-form-label">Nome</label>
          <input value="{{template.nome_template}}" id="nome_template" class="form-control" type="text" placeholder="Nome Template">
        </div>
        <div class="col-6 mb-3">
          <label class="col-form-label">Texto Principal</label>
          <input value="{{template.texto_header}}" id="texto_header" class="form-control" type="text" placeholder="Texto Principal">
        </div>
      </div>
      <div class="row">
        <div class="col-6 mb-3">
          <label class="col-form-label">Texto Rodapé</label>
          <input value="{{template.texto_footer}}" id="texto_footer" class="form-control" type="text" placeholder="Texto Rodapé" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10">
        </div>
        <div class="col-6 mb-3">
          <label class="col-form-label">Texto Promocional</label>
          <input value="{{template.texto_promocional}}" id="texto_promocional" class="form-control" type="text" placeholder="Texto Promocional">
        </div>
      </div>
        <div class="row">
        <div class="col-6 mb-3">
          <label class="col-form-label">Link Rodapé</label>
          <input value="{{template.link_footer}}" id="link_footer" class="form-control" type="text" placeholder="Link Rodapé">
        </div>
        <div class="col-6 mb-3">
          <label class="col-form-label">Link Marketing</label>
          <input value="{{template.link_marketing}}" id="link_marketing" class="form-control" type="text" placeholder="Link">
        </div>
      </div>

      <div class="row">
        <!-- Primeiro Card -->
        <div id="div_banner_pc" class="col-6">
          {% if template.image_banner_pc %}
          <div class="mb-3">
            <label class="col-form-label">Imagem Banner PC</label>
            <div class="card card-image">
              <img src="/media/{{template.image_banner_pc}}" class="card-img-top" alt="Imagem 1">
            </div>
            <button type="button" class="btn btn-danger btn-sm delete-image" onclick="removeImage('{{ template.pk }}', 'image_banner_pc')">Remover Imagem</button>
          </div>
          {% else %}
          <div class="m-b-20">
            <label>Imagem de banner PC</label>
            <form class="dropzone" id="imagebannerpc" action="/api/bmm_template/">
              <div class="dz-message needsclick"><i class="icon-cloud-up"></i>
                <h6>Arraste os arquivos aqui ou clique para fazer upload.</h6><span class="note needsclick">(Isto é apenas uma demonstração
                    da zona de queda. Os arquivos selecionados não são <strong>efetivamente</strong> enviados.)</span>
            </div>
            </form>
          </div>
          {% endif %}
        </div>
      
        <!-- Segundo Card -->
      <div id="div_banner_mobile" class="col-6">
          {% if template.image_banner_mobile %}
          <div class="mb-3">
            <label class="col-form-label">Imagem Banner Mobile</label>
            <div class="card card-image">
              <img src="/media/{{template.image_banner_mobile}}" class="card-img-top" alt="Imagem 2">
            </div>
            <button type="button" class="btn btn-danger btn-sm delete-image" onclick="removeImage('{{ template.pk }}', 'image_banner_mobile')">Remover Imagem</button>
          </div>
        {% else %}
        <div class="m-b-20">
          <label>Imagem de banner para Celular</label>
          <form class="dropzone" id="imagebannermobile" action="/api/bmm_template/">
            <div class="dz-message needsclick"><i class="icon-cloud-up"></i>
              <h6>Arraste os arquivos aqui ou clique para fazer upload.</h6><span class="note needsclick">(Isto é apenas uma demonstração
                  da zona de queda. Os arquivos selecionados não são <strong>efetivamente</strong> enviados.)</span>
          </div>
          </form>
        </div>
        {% endif %}
      </div>

      </div>
      <div class="row">
        <div id="div_banner_footer">
          {% if template.image_footer %}
          <div class="col mb-3">
            <label class="col-form-label">Imagem footer</label>
            <div class="card card-image">
              <img src="/media/{{template.image_footer}}" class="card-img-top" alt="Imagem 3">
            </div>
            <button type="button" class="btn btn-danger btn-sm delete-image" onclick="removeImage('{{ template.pk }}', 'image_footer')">Remover Imagem</button>
          </div>
          {% else %}
          <div class="col m-b-20">
            <label>Imagem footer</label>
              <form class="dropzone" id="imagemfooter" action="/api/bmm_template/">
                <div class="dz-message needsclick"><i class="icon-cloud-up"></i>
                    <h6>Arraste os arquivos aqui ou clique para fazer upload.</h6>
                </div>
              </form>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="card-footer border-0 pt-0">
      <button class="btn btn-primary" id="submit-template" type="submit">Salvar</button>
      <a class="btn btn-secondary ms-1" href="/boomerangue_previa/{{template.pk}}" target="_blank" type="submit">Ver Prévia</a>
    </div>
  </div>
</div>
</div>

  <!-- <script>
    var imagemExistente = ''
    {% if template.image_banner_pc %}
      imagemExistente = '/media/{{template.image_banner_pc}}'
    {% endif %}
  </script>

  <script>
    var imagemExistente2=''
    {% if template.image_banner_mobile %}
      imagemExistente2 = '/media/{{template.image_banner_mobile}}'
    {% endif %}
  </script> -->
