{% extends 'base-starter.html' %}
{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/select2.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/sweetalert2.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/animate.scss' %}">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  <div class="container-fluid">
    <div class="page-title">
      <div class="row">
        <div class="col-12 col-sm-6">
          {% if bot.bot_ativo == "S" %}
            <img class="p-2 btn-success rounded-circle" style="display: inline-block;">
          {% else %}
            <img class="p-2 btn-danger rounded-circle" style="display: inline-block;">
          {% endif %}
          <h3 style="display: inline-block;">{{breadcrumb.child}}</h3>
        </div>
        <div class="col-12 col-sm-6">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/"> <i data-feather="home"></i></a></li>
            <li class="breadcrumb-item">{{breadcrumb.parent}}</li>
            <li class="breadcrumb-item active">{{breadcrumb.child}}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <!-- Container-fluid starts-->
  {% include 'bot_consulta/components/abas.html' %}
  <!-- {% include 'bots/components/bots.html' %} -->
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets/js/notify/bootstrap-notify.min.js' %}"></script>
<script src="{% static 'assets/js/sweet-alert/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/select2/select2-custom.js' %}"></script>
<script src="{% static 'assets/js/form-validation-custom.js' %}"></script>
<script src="{% static 'assets/js/bookmark/jquery.validate.min.js' %}"></script>


<!-- Plugins JS Ends-->
{% endblock scriptcontent %}
