{% load static %}
{% load sass_tags %}
{% load tags %}
  <!-- <div class="col chat-menu" style="max-height: calc(100% - 150px); overflow-y: auto;">
      <div class="job-sidebar md-sidebar">
        <div class="md-sidebar-aside job-left-aside custom-scrollbar">
          <div class="default-according style-1 job-accordion" id="accordionoc">
            <div class="row">
              <div class="col-xl-12">
                <div class="card">
                  <div class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordion">
                    <div class="card-body filter-cards-view animate-chk">
                      <div class="job-filter">
                        <div class="faq-form">
                          <input class="typeahead form-control" id="lead" type="text" placeholder="Pesquisar lead.."><i class="search-icon"
                            data-feather="search"></i>
                            <div class="input-group-append">
                              <span class="loading-indicator-itens input-group-text text-primary" style="display: none;"><i class="fa fa-spin fa-spinner"></i></span>
                            </div>
                        </div>
                      </div>
                      <div class="checkbox-animated mt-0">
                        <div class="learning-header">
                          <h5 class="f-w-600">Região</h5>
                        </div>
                        <div class="col-md-11">
                          <select class="js-example-basic-single" id="regiao">
                            <option value="">Selecione</option>
                            {% for regiao in regioes %}
                              <option value="{{regiao.pk}}">{{regiao.Regiao}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="checkbox-animated mt-0">
                        <div class="learning-header">
                          <h5 class="f-w-600">Estado</h5>
                        </div>
                        <div class="col-md-11">
                          <select class="js-example-basic-single" id="estado">
                            <option value="">Selecione</option>
                            {% for estado in uf %}
                                <option value="{{estado.pk}}">{{estado.uf}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                      <div class="checkbox-animated mt-0">
                        <div class="learning-header">
                          <h5 class="f-w-600">Cidade</h5>
                        </div>
                        <div class="col-md-11">
                          <select class="js-example-basic-single" id="cidade">
                            
                          </select>
                        </div>
                      </div>
                      <div class="checkbox-animated mt-0">
                        <div class="learning-header">
                          <h5 class="f-w-600">Bairro</h5>
                        </div>
                        <div class="col-md-11">
                          <select class="js-example-basic-single" id="bairro">
                            
                          </select>
                        </div>
                      </div>
                      <button class="btn btn-primary text-center" id="filtrar" type="button">Filtrar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->