<!-- <div class="modal fade" id="exampleModalmdo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Enviar para vendedores</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form>
                      <div class="mb-md-3 mb-0">
                        <label class="col-form-label" for="recipient-name">Escolha os vendedores</label>
                        <select class="select-tags" id="select_tags">
                            <option value="">Selecione os vendedores</option>
                            {% for vendedor in vendedores %}
                                <option value="{{vendedor.pk}}">{{vendedor.Vendedor}}</option>
                            {% endfor %}
                        </select>
                      </div>
                      <div class="mb-md-3 mb-0">
                        <label class="col-form-label" for="message-text">Message:</label>
                        <textarea class="form-control"></textarea>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="button">Send message</button>
                  </div>
                </div>
              </div>
            </div> -->