
    
    <div class="modal fade bd-detalhes-modal-xl" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Detalhes</h4>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="relatorioContentdetalhes">
                <div class="loader-box-detalhes" style="display: none;">
                    <div class="loader-35"></div>
                </div>
                <div id="relatorio-detalhes">
                <div class="row">
                    
                </div>
                
                <div class="card">
                    <div class="row product-page-main">
                      <div class="col-sm-12">
                        <ul class="nav nav-tabs border-tab mb-0" id="top-tab" role="tablist">
                          <li class="nav-item"><a class="nav-link active" id="top-home-tab" data-bs-toggle="tab" href="#top-home"
                              role="tab" aria-controls="top-home" aria-selected="false">Historico de vendas</a>
                            <div class="material-border"></div>
                          </li>
                          <!-- <li class="nav-item"><a class="nav-link" id="profile-top-tab" data-bs-toggle="tab" href="#top-profile"
                              role="tab" aria-controls="top-profile" aria-selected="false">Sugestão de vendas</a>
                            <div class="material-border"></div>
                          </li> -->
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="tab-content" id="top-tabContent">
                    <div class="tab-pane fade active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                        <div class="row">
                            <div class="col-12">
                                <div class="card ongoing-project">
                                  <div class="card-header card-no-border">
                                    <div class="media media-dashboard">
                                      <div class="media-body">
                                        <h5 class="mb-0">Histórico de vendas</h5>
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <div class="card-body pt-0">
                                    <div class="table-responsive custom-scrollbar">
                                      <table class="table table-bordernone">
                                        <thead>
                                          <tr>
                                            <th> <span>Pedido</span></th>
                                            <th> <span>Total</span></th>
                                            <th> <span>Data Compra</span></th>
                                            <th> <span>Total Produtos</span></th>
                                            <th> <span>Ver produtos</span></th>
                                          </tr>
                                        </thead>
                                        <tbody id="tbody-detalhes">
                                        </tbody>
                                      </table>
                                    </div>
                                    <div class="card-body">
                                        <nav aria-label="...">
                                            <ul class="pagination pagination-primary" id="pagination-detalhes">
                                                <li class="page-item disabled" id="previous-page-detalhes">
                                                    <a class="page-link" href="javascript:void(0)" tabindex="-1">Anterior</a>
                                                </li>
                                                <li class="page-item" id="next-page-detalhes">
                                                    <a class="page-link" href="javascript:void(0)">Próximo</a>
                                                </li>
                                            </ul>
                                        </nav>
                                      </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
            
                    <!-- <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                        <div class="row">
                            <div class="col-12">
                                <div class="card ongoing-project">
                                  <div class="card-header card-no-border">
                                    <div class="media media-dashboard">
                                      <div class="media-body">
                                        <h5 class="mb-0">Sugestões De Vendas </h5>
                                      </div>
                                      
                                    </div>
                                  </div>
                                  <div class="card-body pt-0">
                                    <div class="table-responsive custom-scrollbar">
                                      <table class="table table-bordernone">
                                        <thead>
                                          <tr>
                                            <th> <span>Produto</span></th>
                                            <th> <span>Código</span></th>
                                            <th> <span>Quantidade por caixa</span></th>
                                            <th> <span>Linha Produto</span></th>
                                           
                                          </tr>
                                        </thead>
                                        <tbody id="tbody-sugestao">
                                        </tbody>
                                      </table>
                                    </div>
                                    
                                  </div>
                                </div>
                              </div>
                        </div> 
                    </div> -->
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>