{% load static %}
{% load i18n %}
{% load sass_tags %}
{% load tags %}
<div class="col-xl-9 xl-60">
  <div class="card ongoing-project recent-orders">
    <div class="card-header card-no-border">
      <div class="media media-dashboard">
        <div class="media-body">
          <h5 class="mb-0">Boomerangues</h5>
        </div>
        <h5 class="mb-0"><span id="cont"></span></h5>
      </div>
    </div>
    <div class="card-body pt-0">
      <div class="table-responsive" id="div_scroll" style="max-height: 70vh; overflow-y: scroll;">
        <table class="table table-bordernone">
          <thead>
            <tr>
              <th> <span>{% trans 'Lead' %}</span></th>
              <th> <span>{% trans 'Total' %} {% get_string_personalizada 'Compra' %}</span></th>
              <th> <span>{% trans 'Campanha' %}</span></th>
              <th> <span>{% trans 'Data' %} {% get_string_personalizada 'Compra' %}</span></th>
              <th> <span>{% trans 'Telefone' %}</span></th>
              <th> <span>{% trans 'Telefone Validado' %}</span></th>
              <th> <span>{% trans 'Status' %}</span></th>
              <th> <span>{% trans 'Status do ' %}{% get_string_personalizada 'Lead' %}</span></th>
              <th> <span>{% trans 'Repique 1 Enviado' %}</span></th>
              <th> <span>{% trans 'Repique 2 Enviado' %}</span></th>
              <th> <span>{% trans 'Opções' %}</span></th>
            </tr>
          </thead>
          <tbody id="tbody-boomerangues">
        
          </tbody>
        </table>
        <div class="loader-box" id="loader" style="display: none;">
          <div class="loader-2"></div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <nav aria-label="...">
          <ul class="pagination pagination-primary" id="pagination">
              <li class="page-item disabled" id="previous-page">
                  <a class="page-link" href="javascript:void(0)" tabindex="-1">Anterior</a>
              </li>
              <li class="page-item" id="next-page">
                  <a class="page-link" href="javascript:void(0)">Próximo</a>
              </li>
          </ul>
      </nav>
  </div>
  </div>
</div>


  <div class="col-xl-3 xl-40">
    <div class="job-sidebar md-sidebar"><a class="btn btn-primary md-sidebar-toggle" href="javascript:void(0)">Filtros</a>
      <div class="md-sidebar-aside job-left-aside custom-scrollbar">
        <div class="default-according style-1 job-accordion" id="accordionoc">
          <div class="row">
            <div class="col-xl-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="mb-0 p-0">
                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseicon"
                      aria-expanded="true" aria-controls="collapseicon">Filtros</button>
                  </h5>
                </div>
                <div class="collapse show" id="collapseicon" aria-labelledby="collapseicon" data-bs-parent="#accordion">
                  <div class="card-body filter-cards-view animate-chk">
                    <div class="job-filter">
                      <div class="faq-form">
                        <input class="typeahead form-control" id="lead" type="text" placeholder="Pesquisar lead.."><i class="search-icon"
                          data-feather="search"></i>
                          <div class="input-group-append">
                            <span class="loading-indicator-itens input-group-text text-primary" style="display: none;"><i class="fa fa-spin fa-spinner"></i></span>
                          </div>
                      </div>
                    </div>
                    <div class="checkbox-animated">
                      <div class="learning-header">
                        <h5 class="f-w-600">Período de {% get_string_personalizada 'Compra' %}</h5>
                      </div>
                      <div class="d-block">
                        <div class="col-12">
                          <div class="input-group">
                            <input class="datepicker-here form-control digits" id="dt_inicio" type="text" data-language="pt-BR"
                              placeholder="Data Inicial">
                          </div>
                        </div>
                        <div class="col-12 mt-2">
                          <div class="input-group">
                            <input class="datepicker-here form-control digits" id="dt_fim" type="text" data-language="pt-BR"
                              placeholder="Data Final">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="checkbox-animated mt-0">
                      <div class="learning-header">
                        <h5 class="f-w-600">Faixa de valor</h5>
                      </div>
                      <div class="col-md-11">
                        <input id="u-range-03" type="text">
                      </div>
                    </div>
                    <div class="checkbox-animated mt-0">
                      <div class="learning-header">
                        <h5 class="f-w-600">Telefone Status</h5>
                      </div>
                      <div class="col-md-11">
                        <select class="js-example-basic-single" id="telefone_status">
                          <option value="">Selecione</option>
                          <option value="validado">Validado</option>
                          <option value="nao_validado">Não validado</option>
                          <option value="rejeitado">rejeitado</option>
                        </select>
                      </div>
                    </div>
                    <div class="checkbox-animated mt-0">
                      <div class="learning-header">
                        <h5 class="f-w-600">Status</h5>
                      </div>
                      <div class="col-md-11">
                        <select class="js-example-basic-single" id="bm_status">
                          <option value="">Selecione</option>
                          <option value="S">Enviados</option>
                          <option value="E">Entregues</option>
                          <option value="O">Autorizou</option>
                          <option value="Z">Não Autorizou</option>
                          <option value="D">Comprando/Doando</option>
                          <option value="X">Doou</option>
                          <option value="C">Comprou</option>
                        </select>
                      </div>
                    </div>
                    <div class="checkbox-animated mt-0">
                      <div class="learning-header">
                        <h5 class="f-w-600">Repique</h5>
                      </div>
                      <div class="col-md-11">
                        <select class="js-example-basic-single" id="repique">
                          <option value="">Selecione</option>
                          <option value="rep1">Repique 1 Enviado</option>
                          <option value="rep2">Repique 2 Enviado</option>
                        </select>
                      </div>
                    </div>
                    <!-- <div class="checkbox-animated mt-0">
                      <div class="learning-header">
                        <h5 class="f-w-600">Status</h5>
                      </div>
                      <label class="d-block" for="chk-ani3">
                        <input class="checkbox_animated" id="chk-ani3" type="checkbox"> Registration
                      </label>
                      <label class="d-block" for="chk-ani4">
                        <input class="checkbox_animated" id="chk-ani4" type="checkbox"> Progress
                      </label>
                      <label class="d-block" for="chk-ani5">
                        <input class="checkbox_animated" id="chk-ani5" type="checkbox"> Completed
                      </label>
                    </div> -->
                    <button class="btn btn-primary text-center" id="filtrar" type="button">Filtrar</button>

                    
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-12">
              <div class="card total-sale">
                <div class="card-header card-no-border">
                  <div class="media">
                    <div class="media-body">
                      <h5 class="mb-0 ms-3">Exportar</h5>
                    </div>
                    <!-- <div class="icon-box onhover-dropdown"><i data-feather="more-horizontal"></i>
                      <div class="icon-box-show onhover-show-div">
                        <ul>
                          <li><a>Done</a></li>
                          <li> <a>
                              Pending</a></li>
                          <li> <a>
                              Rejected</a></li>
                          <li> <a>In Progress</a></li>
                        </ul>
                      </div>
                    </div> -->
                  </div>
                <div class="card-body pt-0 ">
                  <div class="checkbox-animated mt-3">
                    <div class="col-md-11 mb-3">
                      <select class="js-example-basic-single" id="export_bmm_">
                        <option value="excel">Excel</option>
                      </select>
                    </div>
                    <button class="btn btn-secondary text-center" id="export_btn" type="button">Exportar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

