{% load static %}
{% load i18n %}
{% load sass_tags %}
<style>
  .card-image {
    max-width: 100%;
    height: 200px; /* Defina a altura desejada para os cards */
    overflow: hidden;
  }

  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
<!-- Chart widget top Start-->
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="form theme-form projectcreate" id="id_campanha" data-id="{{Campanha_dados.pk}}">
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label>{% trans 'Título da campanha' %}*</label>
                <input class="form-control" id="Campanha" value="{{Campanha_dados.Campanha}}" type="text">
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label>{% trans 'EDI Campanha' %}*</label>
                <input class="form-control" id="EdiCampanha" value="{{Campanha_dados.EdiCampanha}}" disabled type="text">
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label>{% trans 'Gateway PIX' %}</label>
                <select class="js-example-basic-single"  id="gateway_pagamento">
                  <option value="">Nenhum</option>
                  {% for gateway in gateways %}
                    <option value="{{ gateway.pk }}" {% if gateway.pk == Campanha_dados.gateway_pagamento.pk %} selected {% endif %}>{{gateway.gateway_name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label>{% trans 'Template' %}*</label>
                <select class="js-example-basic-single" id="template">
                  {% for template in templates %}
                    <option value="{{template.pk}}"  {% if Campanha_dados.template.pk == template.pk %} selected {% endif %}>{{template.nome_template}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label>{% trans 'Tipo de Campanha' %}*</label>
                <select class="form-select" id="tipo-campanha">
                  {% for option in select_tipos_campanhas %}
                    <option value="{{ option.pk }}" {% if Campanha_dados.tipo_campanha == option.pk %} selected {% endif %}>{{option.option}}</option>
                  {% endfor %}
                </select>
              </div>
              
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label>{% trans 'Texto Título' %}</label>
                <input class="form-control" value="{{Campanha_dados.TextoHeader}}" id="TextoHeader" type="text" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label>{% trans 'Texto Rodapé' %}</label>
                <input class="form-control" value="{{Campanha_dados.TextoFooter}}" id="TextoFooter" type="text" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label>{% trans 'Link Rodapé' %}</label>
                <input class="form-control" id="LinkFooter" value="{{Campanha_dados.LinkFooter}}" type="text" >
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label>{% trans 'Texto Promocional' %}</label>
                <input class="form-control" id="TextoPromocional" value="{{Campanha_dados.TextoPromocional}}" type="text" >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="mb-3">
                <label>{% trans 'Campanha ativa' %}</label>
                <select class="form-select" id="CampanhaAtiva">
                  <option value="N" {% if Campanha_dados.CampanhaAtiva == 'N' %} selected {% endif %}>{% trans 'Não' %}</option>
                  <option value="S" {% if Campanha_dados.CampanhaAtiva == 'S' %} selected {% endif %}>{% trans 'Sim' %}</option>
                </select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="mb-3">
                <label>{% trans 'Link Marketing' %}</label>
                <input class="form-control" id="LinkMarketing" value="{{Campanha_dados.LinkMarketing}}" type="text" >
              </div>
            </div>
          </div>

            

      <div class="row">
        <div class="col">
            <label>{% trans 'Status' %}</label>
            <select class="js-example-basic-single" id="status-campanha">
              {% for key, value in status.items %}
                  <option value="{{ key }}" {% if Campanha_dados.status_campanha == key %} selected {% endif %}>{{ value }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="col">
            <label>{% trans 'Periodicidade' %}</label>
            <select class="js-example-basic-single" id="periodicidade">
              {% for option in tipos_periodicidade %}
                <option value="{{ option.0 }}" {% if Campanha_dados.periodicidade == option.0 %} selected {% endif %}>{% trans option.1 %}</option>
              {% endfor %}
            </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
            <label>{% trans 'Data Início' %}</label>
            <div class="">
              <div class="input-group">
                <input class="datepicker-here form-control digits" type="text" value="{{Campanha_dados.data_inicio|date:'d/m/Y'}}" data-language="pt-BR" id="data-inicio">
              </div>
            </div>
        </div>
        <div class="col">
          <div class="mb-3 clockpicker">
            <label>{% trans 'Horário Início' %}</label>
            <input class="form-control" type="text" id="horario-inicio" value="{{Campanha_dados.horario_inicio}}"  placeholder="Horário Início Campanha" maxlength="20"><span class="input-group-addon"><span
              class="glyphicon glyphicon-time"></span></span>
            <div class="invalid-tooltip">Hora de Início não pode estar vazio</div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
            <label>{% trans 'Data Fim' %}</label>
            <div class="">
              <div class="input-group">
                <input class="datepicker-here form-control digits" type="text" value="{{Campanha_dados.data_fim|date:'d/m/Y'}}" data-language="pt-BR" id="data-fim">
              </div>
            </div>
        </div>
        <div class="col">
          <div class="mb-3 clockpicker">
            <label>{% trans 'Horário Fim' %}</label>
            <input class="form-control" type="text" id="horario-fim" placeholder="Horário Fim Campanha" value="{{Campanha_dados.horario_fim}}" maxlength="20"><span class="input-group-addon"><span
              class="glyphicon glyphicon-time"></span></span>
            <div class="invalid-tooltip">Hora de Fim não pode estar vazio</div>
          </div>
        </div>
      </div>
      <br>
          <!-- <div class="row">
            <div class="col">
              <div class="mb-3">
                <label>Enter some Details</label>
                <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
              </div>
            </div>
          </div> -->
          <div class="row">
            {% if Campanha_dados.ImageBannerPC %}

            <div class="col-6 mb-3">
              <label class="col-form-label">{% trans 'Imagem de banner para PC' %}</label>
              <div class="card card-image">
                <img src="/media/{{Campanha_dados.ImageBannerPC}}" class="card-img-top" alt="Imagem 1">
              </div>
              <button type="button" class="btn btn-danger btn-sm delete-image" onclick="removeImage('{{ Campanha_dados.pk }}', 'ImageBannerPC')">Remover Imagem</button>
            </div>
            {% else %}
            <div class="col-sm-6">
              <div class="mb-3">
                <label>{% trans 'Imagem de banner para PC' %}</label>
                <form class="dropzone" id="ImageBannerPC" action="/api/campanhas/">
                  <div class="dz-message needsclick"><i class="icon-cloud-up"></i>
                      <h6>Arraste os arquivos aqui ou clique para fazer upload.</h6><span class="note needsclick">(Isto é apenas uma demonstração
                          da zona de queda. Os arquivos selecionados não são <strong>efetivamente</strong> enviados.)</span>
                  </div>
                </form>
              </div>
            </div>
            {% endif %}

            {% if Campanha_dados.ImageBannerMobile %}

            <div class="col-6 mb-3">
              <label class="col-form-label">Imagem Banner Mobile</label>
              <div class="card card-image">
                <img src="/media/{{Campanha_dados.ImageBannerMobile}}" class="card-img-top" alt="Imagem 2">
              </div>
              <button type="button" class="btn btn-danger btn-sm delete-image" onclick="removeImage('{{ Campanha_dados.pk }}', 'ImageBannerMobile')">Remover Imagem</button>
            </div>

            {% else %}

            <div class="col-sm-6">
              <div class="mb-3">
                <label>Imagem de banner para Celular</label>
                <form class="dropzone" id="ImageBannerMobile" action="/api/campanhas/">
                  <div class="dz-message needsclick"><i class="icon-cloud-up"></i>
                      <h6>Arraste os arquivos aqui ou clique para fazer upload.</h6><span class="note needsclick">(Isto é apenas uma demonstração
                          da zona de queda. Os arquivos selecionados não são <strong>efetivamente</strong> enviados.)</span>
                  </div>
                </form>
              </div>
            </div>

            {% endif %}

            <!-- <div class="col-sm-12">
              <div class="mb-3">
                <label>Importar arquivos CSV</label>
                <form class="dropzone" id="csvArquivos" data-intro="Se já preencheu um arquivo CSV com as informações da campanha, só inseri-lo aqui! Não precisa preencher os outros campos." action="/api/campanhas/">
                  <div class="dz-message needsclick"><i class="icon-cloud-up"></i>
                      <h6>Arraste os arquivos aqui ou clique para fazer upload.</h6><span class="note needsclick">(Isto é apenas uma demonstração
                          da zona de queda. Os arquivos selecionados não são <strong>efetivamente</strong> enviados.)</span>
                  </div>
                </form>
              </div>
            </div> -->
          </div>
          <div class="row">
            <div class="col">
              <div class="text-end"><a class="btn btn-secondary me-3" id="salvar_alteracoes" href="#">Salvar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>