{% extends 'base-starter.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/animate.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/date-picker.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/dropzone.scss' %}">
<link rel="stylesheet" type="text/css" href="{% static 'assets/js/formvalidation/dist/css/formValidation.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  {% include 'empresas/components/empresas-create.html' %}
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->
<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<script src="{% static 'assets/js/typeahead/handlebars.js' %}"></script>
<script src="{% static 'assets/js/typeahead/typeahead.bundle.js' %}"></script>
<script src="{% static 'assets/js/typeahead/typeahead.custom.js' %}"></script>
<script src="{% static 'assets/js/typeahead-search/handlebars.js' %}"></script>
<script src="{% static 'assets/js/typeahead-search/typeahead-custom.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
<script src="{% static 'assets/js/formvalidation/dist/js/FormValidation.full.js' %}"></script>
<script src="{% static 'assets/js/formvalidation/dist/js/plugins/Bootstrap.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/inputmask"></script>
<script src="{% static 'assets/js/empresas/create-empresa.js' %}"></script>
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}
