{% load static %}
{% load sass_tags %}
<div class="tab-pane fade active show" id="pills-personal" role="tabpanel" aria-labelledby="pills-personal-tab">
  <div class="card mb-0">
    <div class="card-header d-flex">
      <div id="remote">
        <div>
            <input class="typeahead form-control" type="text" placeholder="Pesquisar">
            <div class="input-group-append">
              <span class="loading-indicator-arquivos input-group-text text-primary" style="display: none;"><i class="fa fa-spin fa-spinner"></i></span>
            </div>
          </div>
      </div><span class="f-14 pull-right mt-0"></span>
      <div class="p-0 d-md-flex d-block">
        <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal-importar-arquivo">
          <i data-feather="plus-square"> </i> Importar Vendedores
        </a>
        <a class="btn btn-primary ms-3" href="api/create-vendedor/exportar-vendedores/">
          <i data-feather="download"> </i> Exportar Vendedores
        </a>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="row list-persons" id="addcon">
          <div class="col-xl-4 xl-50 col-md-5 box-col-12" style="height: 90vh; overflow-y: scroll;">
              <div class="nav d-block nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {% for vendedor in vendedores %}
                <a class="contact-tab-{{vendedor.pk}} nav-link  {% if forloop.first %} active{% endif %}" id="v-pills-user-tab" data-bs-toggle="pill" onclick="activeDiv('{{vendedor.pk}}')"
                  href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="true">
                  <div class="media"><img class="img-50 img-fluid m-r-20 rounded-circle update_img_0"
                      src="{% static 'assets/images/user/2.png' %}" alt="">
                    <div class="media-body">
                      <h6> <span class="first_name_0">{{vendedor.Vendedor}}</span></h6>
                      <p class="email_add_0">{{vendedor.empresa_id.empresa}}</p>
                    </div>
                  </div>
                </a>
                {% endfor %}
              </div>
        </div>
        <div class="col-xl-8 xl-50 col-md-7 box-col-6">
          <div class="tab-content" id="v-pills-tabContent">

            {% include 'vendedores/components/components.html' %}

          </div>
          <div class="contact-editform">
            <form>
              <div class="row g-2">
                <div class="mt-0 mb-3 col-md-12">
                  <label>Nome</label>
                  <div class="row g-2">
                    <div class="col-sm-12">
                      <input class="form-control" id="Vendedor" type="text" required="" maxlength="50" placeholder="Nome"
                        value="">
                    </div>
                  </div>
                </div>
                <div class="mt-0 mb-3 col-md-12">
                  <div class="row g-2">
                    <div class="col-sm-12 mb-2">
                      <label for="CodigoVendedor">Cód Vendedor</label>
                      <input class="form-control" id="CodigoVendedor" type="text" maxlength="25" required="" autocomplete="off">
                    </div>
                  </div> 
                </div>
                <div class="mt-0 mb-3 col-md-12">
                  <div class="row g-2">
                    <div class="col-sm-6 mb-2">
                      <label for="VendedorBM">Vendedor BM</label>
                      <input class="form-control" id="VendedorBM" type="text" required="" autocomplete="off"  maxlength="50">
                    </div>
                    <div class="col-sm-6 mb-2">
                      <label for="VendedorOriginal">Vendedor Original</label>
                      <input class="form-control" id="VendedorOriginal" type="text" required="" autocomplete="off"  maxlength="50">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row g-2 more-data">
                <div class="mt-0 mb-3 col-md-12">
                  <div class="row g-2">
                    <div class="col-lg-6 col-sm-6">
                      <label for="Apelido">Apelido</label>
                      <input class="form-control" id="Apelido" type="text" required="" autocomplete="off"  maxlength="40">
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <label for="LegendaVendedor">Legenda Vendedor</label>
                      <input class="form-control" id="LegendaVendedor" type="text" required="" autocomplete="off"  maxlength="50">
                    </div>
                  </div>
                </div>
               
                <div class="mt-0 mb-3 col-md-12">
                  <div class="row g-2">
                    <div class="col-lg-6 col-sm-6">
                      <label for="TelefoneVendedor">Telefone Vendedor</label>
                      <input class="form-control" id="TelefoneVendedor" type="text" required="" maxlength="50" autocomplete="off">
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <label for="VendedorPadrao">Vendedor Padrão</label>
                      <select class="form-control" id="VendedorPadrao">
                        <option value="N">Não</option>
                        <option value="S">Sim</option>
                    </select>
                    </div>
                  </div>
                </div>

                <div class="mt-0 mb-3 col-md-12">
                  <div class="row g-2">
                    <div class="col-lg-6 col-sm-6">
                      <label for="ComissaoVenda">Comissão Venda</label>
                      <input class="form-control" id="ComissaoVenda" type="text" required="" maxlength="18" autocomplete="off">
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <label for="MarcaPadrao">Marca Padrão</label>
                      <input class="form-control" id="MarcaPadrao" type="text" required="" maxlength="18" autocomplete="off">
                    </div>
                  </div>
                </div>

                <div class="mt-0 mb-3 col-md-12">
                  <div class="row g-2">
                    <div class="col-lg-6 col-sm-6">
                      <label for="TransportadoraPadrao_id">Transportadora Padrão</label>
                      <select class="form-control" id="TransportadoraPadrao_id">
                        {% for transportadora in transportadoras %}
                          <option value="{{transportadora.pk}}">{{transportadora.Transportadora}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <label for="CondicaoPgtoPadrao_id">Condição de pagamento</label>
                      <select class="form-control" id="CondicaoPgtoPadrao_id">
                        {% for condicao in condicoes %}
                          <option value="{{condicao.pk}}">{{condicao.condicoes_pagamento}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="mt-0 mb-3 col-md-12">
                  <div class="row g-2">
                    <div class="col-lg-6 col-sm-6">
                      <label for="Integracao_EDI">EDI Integração</label>
                      <input class="form-control" id="Integracao_EDI" type="text" required="" maxlength="18" autocomplete="off">
                    </div>
                    <div class="col-lg-6 col-sm-6">
                      <label for="Integracao_EDI2">EDI Integração 2</label>
                      <input class="form-control" id="Integracao_EDI2" type="text" required="" maxlength="18" autocomplete="off">
                    </div>
                  </div>
                </div>
                
              </div><a class="ps-0 edit-information f-w-600 mb-3" href="javascript:void(0)">Editar Mais Informações</a>
              <button class="btn btn-secondary update-contact mt-0" type="button">Salvar</button>
              <button class="btn btn-primary mt-0" id="cancel_edit" type="button" data-bs-dismiss="modal">Cancelar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="loader-box" style="display: none;" id="loader-3">
      <div class="loader-2"></div>
    </div>
  </div>
</div>

<div class="modal fade modal-bookmark" id="modal-importar-arquivo" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Importar Arquivo de Vendedores</h5>
        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"> </button>
      </div>
      <div class="modal-body">
        <div class="form-bookmark needs-validation" id="bookmark-form" novalidate="">
          <div class="form-row">
            <div class="row">
              <div class="col m-b-20">
                  <form class="dropzone" id="csvImportarquivo" action="/api/create-vendedor/">
                    <div class="dz-message needsclick"><i class="icon-cloud-up"></i>
                        <h6>Arraste os arquivos aqui ou clique para fazer upload.</h6>
                    </div>
                  </form>
              </div>
            </div>
          </div>
          <button class="btn btn-secondary" id="new_template_csv">Importar</button>
          <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>