{% extends 'base-starter.html' %}{% load static %}
{% load sass_tags %}
{% block css %}
<!-- Plugins css start-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/animate.scss' %}">
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/select2.scss' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/dropzone.scss' %}"> -->
<link rel="stylesheet" type="text/css" href="{% sass_src 'assets/scss/vendors/sweetalert2.scss' %}">



<!-- Plugins css Ends-->
{% endblock css %}
{% block content %}
<div class="page-body">
  {% include 'layout/breadcrumb.html' %}

  <!-- Container-fluid starts-->
  {% include 'boomerangues/components/template-consulta.html' %}
  <!-- Container-fluid Ends-->
</div>
{% endblock content %}
{% block scriptcontent %}
<!-- Plugins JS start-->

<script src="{% static 'assets/js/sidebar-menu.js' %}"></script>
<!-- <script src="{% static 'assets/js/dropzone/dropzone.js' %}"></script> -->
<script src="{% static 'assets/js/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'assets/js/sweet-alert/sweetalert.min.js' %}"></script>
<script src="{% static 'assets/js/select2/select2.full.min.js' %}"></script>
<script src="{% static 'assets/js/select2/select2-custom.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/inputmask"></script>
<script src="{% static 'assets/js/typeahead/typeahead.bundle.js' %}"></script>
<script src="{% static 'assets/js/bmm_template/dados-consulta-template.js' %}"></script>
<!-- <script src="{% static 'assets/js/boomerangue/itens.js' %}"></script> -->

<!-- Plugins JS Ends-->
<!-- Plugins JS Ends-->
{% endblock scriptcontent %}
