{% load static %}
{% load i18n %}
{% load sass_tags %}
<div class="col-sm-12">
  <div class="email-right-aside bookmark-tabcontent contacts-tabs">
    <div class="card email-body radius-left">
      <div class="ps-0">
        <div class="tab-content">

          {% include 'wpp_components/components/wpp_components_personal.html' %}
          <div id="right-history">
            <div class="modal-header p-l-20 p-r-20">
              <h6 class="modal-title w-100">Contact History<span class="pull-right"><a class="closehistory"
                    href="javascript:void(0)"><i class="icofont icofont-close"></i></a></span></h6>
            </div>
            <div class="history-details">
              <div class="text-center"><i class="icofont icofont-ui-edit"></i>
                <p>Contact has not been modified yet.</p>
              </div>
              <div class="media"><i class="icofont icofont-star me-3"></i>
                <div class="media-body mt-0">
                  <h6 class="mt-0">Contact Created</h6>
                  <p class="mb-0">Contact is created via mail</p><span class="f-12">June 10, 2022 4:00</span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade modal-bookmark" id="printModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Print preview</h5>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body list-persons">
                  <div class="profile-mail pt-0" id="DivIdToPrint">
                    <div class="media"><img class="img-100 img-fluid m-r-20 rounded-circle" id="updateimg"
                        src="{% static 'assets/images/user/2.png' %}" alt="">
                      <div class="media-body mt-0">
                        <h5><span id="printname">Bucky </span><span id="printlast">Barnes</span></h5>
                        <p id="printmail">barnes@gmail.com</p>
                      </div>
                    </div>
                    <div class="email-general">
                      <h6>General</h6>
                      <p>Email Address: <span class="font-primary" id="mailadd">barnes@gmail.com </span></p>
                    </div>
                  </div>
                  <button class="btn btn-secondary" id="btnPrint" type="button" onclick="printDiv();">Print</button>
                  <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade modal-bookmark" id="modalAddcomponente" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">{% trans 'Add Componentes' %}</h5>
                  <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close">
                  </button>
                </div>
                <div class="modal-body">
                  <form class="form-bookmark needs-validation" id="bookmark-form" novalidate="">
                    <div class="form-row">
                      <div class="row d-block d-sm-flex">
                        <div class="col-sm-6 m-b-20">
                          <label for="template_name">{% trans 'Template' %}</label>
                          <select class="js-example-basic-single template">
                            <option value="">Escolha um template</option>
                            {% for template in templates %}
                              <option value="{{ template.pk }}">{{ template.template_name }}</option>
                            {% endfor %}
                        </select>
                        </div>
                        <div class="col-sm-6 m-b-20">
                            <label for="component_type">{% trans 'Tipo de componente' %}</label>
                            <select class="js-example-basic-single component_type">
                              <option value="">Escolha um componente</option>
                              {% for componente in componentes %}
                                <option value="{{ componente }}">{{ componente }}</option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>

                      <div class="row d-block d-sm-flex">
                        <div class="col-sm-12 m-b-20">
                          <label for="format">{% trans 'Formato' %}</label>
                          <select class="js-example-basic-single format">
                            <option value="">Escolha um Formato</option>
                            {% for formato in formatos %}
                              <option value="{{ formato }}">{{ formato }}</option>
                            {% endfor %}
                        </select>
                        </div>
                      </div>

                      <div class="row d-block d-sm-flex">
                        <div class="col-sm-12 m-b-20">
                            <div class="card">
                                <div class="card-header pb-0">
                                    <h5>{% trans 'Texto (Mensagem que será enviada pelo whatsapp)' %}</h5>
                                </div>
                                  <div class="card-body">
                                    <div class="row editor_container">
                                      <div class="col-md-12">
                                        <textarea class="CodeMirror text_content" id="smde"></textarea>
                                      </div>
                                    </div>
                                    <div class="col-md-12 reader" id="write_here"></div>
                                  </div>
                                </div>
                        </div>
                      </div>
                      
                    </div>
                    <button class="btn btn-secondary" id="salvar_provedor" data-set=""
                      type="submit">{% trans 'Salvar' %}</button>
                    <button class="btn btn-primary" type="button" data-bs-dismiss="modal">{% trans 'Cancelar' %}</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>